<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="KasselDotNet.NServiceBus.BeerPub.Core" 
           Type="KasselDotNet.NServiceBus.BeerPub.Core.OrderBeerCommand" 
           Endpoint="KasselDotNet.NServiceBus.BeerPub.Server" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <Logging Threshold="Warn" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>